Source: tartarus
Section: admin
Priority: extra
Maintainer: Stefan Tomanek <stefan.tomanek@wertarbyte.de>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.1
Homepage: http://wertarbyte.de/tartarus.shtml

Package: tartarus
Architecture: all
Depends: ${misc:Depends}, tar (>= 1.16) | afio
Recommends: perl, curl
Suggests: gnupg, bzip2 | gzip | pbzip2 (>= 1.0.3-1), lvm2, util-linux
Description: script based backup system
 Tartarus is a script based backup system that relies on default
 utilities available on most regular linux systems. It supports
 on-the-fly upload to an FTP server, compression, encryption and
 can easily be extended by hooks.
